@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');
            div {
                background-color: rgb(147, 161, 241);
                border-radius: 10px;
            }
            img {
                height: 150px;
                padding: 10px 10px 10px;
            }
            li {
                padding: 5px 5px 5px;
            }
            h1 {
                position: absolute;
                right: 20%;
                top: 10%;
            }
            h2 {
                font-family: Noto Serif, Georgia, serif;
            }
            p {
                padding: 15px 15px 15px;
                text-align: center;
                font-family: Roboto Flex, Arial, sans-serif;
            }
            span {
                text-align: center;
            }